:root {
    /* --primary: #D6B62B; */
    --primary: #fff;
    --secondary: #AFCE2A;
    /* --primary-dark: #D6802B; */
    --primary-dark: #734a12;
    /* --secondary-dark: #3F2C94; */
    --secondary-dark: #86a339;
    --color-dark: #282626;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 1.1rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
}

.section {
    width: 100%;
    background-color: lightgrey;
}

.section__wrap {
    width: 70%;
    display: flex;
    margin: auto;
    background-color: #fff;

    border-bottom: 1em solid lightgray;
    padding: 20px;
}

.section__nav {
    margin-right: 20px;
}

.section__nav {
    min-width: 30%;
    height: fit-content;
}

.section__list {
    min-width: 70%;
}

.section__nav__title {
    margin-bottom: 16px;
    color: var(--primary-dark);
    cursor: pointer;
}

.section__nav__title--active {
    font-size: 1.5rem;
    padding: 6px;
    border: 1px solid;
}

.section__template {
    display: none;
}

.section__template--active {
    display: block;
}

.title {
    width: 30%;
    font-size: 2em;
    padding: 20px 40px;
    color: #fff;
    text-align: right;

    background-color: var(--primary-dark);
}

.section__block {
    padding: 20px;
}

.header {
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-dark);
}

.logo {
    width: 30%;
    position: relative;
}

.logo img {
    max-width: 100%;
}

.bar {
    position: absolute;
    right: -17%;
    top: 70%;
    font-size: 2.2vw;
    color: var(--primary);
    font-style: italic;
}

.contact {
    width: 40%;
    text-align: right;
}

.contact p,
.contact a {
    color: var(--primary);
}

/* SLIDER */
.slider {
    width: 100%;
    margin-bottom: 1em;
}


.slider__wrap {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "a b c f"
    "a d e f";
    gap: 10px;
    background-color: lightgray;
}

.slider__block {
    transition: all .2s ease .5s;
}

.slider__block:nth-child(1) {
    grid-area: a;
}
.slider__block:nth-child(2) {
    grid-area: b;
}
.slider__block:nth-child(3) {
    grid-area: c;
}
.slider__block:nth-child(4) {
    grid-area: d;
}
.slider__block:nth-child(5) {
    grid-area: e;
}
.slider__block:nth-child(6) {
    grid-area: f;
}

.slider__wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*NAV*/
.nav {
    max-width: 1280px;
    margin: auto;
    padding: 20px;
}

.nav__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__btn-mobile {
    opacity: 0;
}

.nav__title {
    width: 100%;
    padding: 5px;
    text-align: center;
    position: relative;
}

.nav__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    opacity: 0;
    height: 2px;
    background-color: #3F2C94;
    transition: all .5s ease;
}

.link {
    color: var(--secondary-dark);
    font-weight: 700;
    font-size: 1.2em;
}

.nav__title:hover::after {
    opacity: 1;
}

/* ABOUT */
.about__text {
    width: 70%;
    margin: auto;
}

.about__text p {
    padding-bottom: 20px;
    color: var(--color-dark);
    text-indent: 20px;
}

/* MENU */

.menu__list {
    margin: auto;
    width: 70%;

    display: flex;
}

.menu__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 20px;
}

.menu__item:not(:last-of-type) {
    border-bottom: 1px solid var(--primary);
    margin-bottom: 20px;
}

.menu__desc {
    width: 70%;
    margin-right: 10px;
}

.menu__title {
    font-size: 1.3em;
    color: var(--secondary-dark);
}

.menu__desc-ingredients {
    font-size: 1em;
    font-style: italic;
}

.menu__price {
    font-size: 1.3em;
    margin-left: auto;
}

/* EVENT */
.event {
    width: 70%;
    margin: auto;
    display: flex;
}

.date__nav {
    display: flex;
    flex-direction: column;
}

.date__nav .section__nav__title {
    display: none;
}

.date__nav .date__nav--active {
    display: block;
}

.event__list {
    width: 100%;
    padding: 5px;
}

.event__item {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--primary);
    padding: 10px;
}

.event__img {
    width: 40%;
    margin-right: 20px;
    float: left;
}

.event__title {
    font-size: 1.3em;
    color: var(--secondary-dark);
    margin-bottom: 10px;
}

.event__date {
    font-style: italic;
}

.event__desc {
    padding: 10px 0;
}

.event__details {
    color: var(--secondary-dark);
}

/* STOCK */

.stock {
    width: 70%;
    margin: auto;
}

.stock__desct {
    margin-bottom: 20px;
}

/* CONTACT */
.footer {
    background-color: var(--secondary-dark);
    padding: 60px;
    width: 100%;
}

.footer .contact {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.footer .contact .tel a {
    font-size: 1.5rem;
}


/* MOBILE */
@media screen and (max-width : 1024px) {
    .section__wrap {
        flex-direction: column;
        width: 100%;
    }

    .section::after {
        display: none;
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .section__block {
        width: 100%;
        padding: 10px;
        flex-direction: column;
    }

    /* HRADER */
    .header {
        display: block;
        padding: 10px;
    }

    .logo {
        width: 50%;
        margin: auto;
    }

    .contact {
        width: 100%;
        text-align: center;
    }

    /* NAV MOBILE */
    .nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 30px;
        padding: 0;
    }

    .nav__btn-mobile {
        opacity: 1;
        width: 40px;
        height: 30px;
        border-top: 4px solid var(--color-dark);
        border-bottom: 4px solid var(--color-dark);
        position: relative;
        background-color: var(--secondary-dark);
        margin: 20px;
        box-shadow: 0px 0px 10px 8px var(--secondary-dark);
    }

    .nav__btn-mobile::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 40%;
        border-bottom: 4px solid var(--color-dark);
    }

    .nav__section {
        opacity: 0;
        transform: translate(-100%);
    }

    .nav__section.open {
        opacity: 1;
        transform: translate(0%);
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: white;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 50px;
    }

    .nav__section.open .nav__btn-mobile-close {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 10px;
        top: 10px;
        border-bottom: 5px solid;
        transform: rotate(45deg);
    }

    .nav__section.open .nav__btn-mobile-close::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 115%;
        border-left: 5px solid;
        top: 13px;
        left: 13px;
    }
    /*EVENT*/

    /* FOOTER */
    .footer {
        padding: 10px;
    }
}

